

<article class="post">
  <div class="title">    
    <a href="/login" target="_blank">{{title}}</a>
    <p"{{post_url}}"</p>
    <p>{{post_url}}</p>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>
